.single-product-container {
    background-color: var(--color-5);
    border: 1px solid var(--color-5);
    height: 100vh;
    display: flex;
    align-items: center;
    margin: 80px auto;
}
.single-product-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px;
}
.single-product-img-wrapper {
    max-width: 400px;
    border-radius: 10px;
}
.single-product-img {
    width: 100%;
}
.single-product-info {
    margin: auto 40px;
}
.single-product-info {
    margin: auto 40px;
}
.single-product-name {
    color: var(--color-2);
    font-size: 25px;
    border-bottom: 2px solid var(--color-2);
    padding-bottom: 5px;
}
.single-product-discount {
    font-weight: bold;
    color: var(--color-3);
    background-color: var(--color-2);
    padding: 10px;
    width: 30%;
    font-size: 30px;
    border-radius: 15px;
    position: absolute;
    top: 80px;
    right: 0;
    text-align: center;
}
.single-product-text {
    color: var(--color-2);
    font-size: 18px;
    margin: 31px auto;
}
.single-product-size, .single-product-colors {
    color: var(--color-2);
    margin: 8px auto;
    display: flex;
    flex-direction: column;
}
label {
    margin-left: 10px;
}
select#size,select#color {
    margin-left: 10px;
    border: 1px solid var(--color-1);
    border-radius: 7px;
    width: 70px;
}
.add-to-cart-btn {
    padding: 5px;
    border: none;
    border-radius: 10px;
    color: var(--color-2);
    background-color: var(--color-3);
    width: 120px;
    cursor: pointer;
    font-weight: bold;
}
.add-to-cart {
    margin: 20px auto;
}

@media (max-width:992px) {
    .single-product-img-wrapper {
        max-width: 300px;
    }
    .single-product-discount {
        padding: 7px;
        font-size: 25px;
    }
}
@media (max-width:768px) {
    .single-product-wrapper {
        margin: 5px;
    }
    .single-product-img-wrapper {
        max-width: 250px;
    }
    .single-product-info {
        margin: auto 35px;
    }
    .single-product-name {
        font-size: 20px;
    }
    .single-product-discount {
        padding: 5px;
        font-size: 15px;
        width: 25%;
    }
    .single-product-text {
        color: var(--color-2);
        font-size: 16px;
        margin: 20px auto;
    }
}
@media (max-width:578px) {
    .single-product-img-wrapper {
        max-width: 220px;
    }
    .single-product-container {
        height: auto;
    }
    .single-product-wrapper {
        flex-direction: column;
    }
    .single-product-info {
        margin: 20px auto;
    }
}